<?php
include("layout/header.php")
?>

<div class="content">
    <div class="text-center">
        <h3>Математический праздник «Для чего изучают математику?»</h3>
    </div>
    <p class="publication_desc">
        Сегодня у нас необычный праздник. Его нет в календаре, но для нашей школы он стал уже традиционным.
        Этот праздник посвящён математике- одной из самых важных наук.
    </p>
</div>
<div class="content publication">
    <div class="publication_header">
        <h5>Содержимое разработки</h5>
    </div>
    <div class="publication_content">

    </div>
</div>
<div class="publication_info">
    <div class="publication_table">
        <table class="">
            <tr class="first_tr">
                <td><i class="fa fa-user" aria-hidden="true"></i> Автор</td>
                <td>Султанбеков Багдат Казыбекович</td>
            </tr>
            <tr class="second_tr">
                <td><i class="fa fa-calendar" aria-hidden="true"></i> Дата добавления</td>
                <td>16.01.2018</td>
            </tr>
            <tr class="first_tr">
                <td><i class="fa fa-graduation-cap graduation-cap" aria-hidden="true"></i> Предмет</td>
                <td>Математика</td>
            </tr>
            <tr class="second_tr">
                <td><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Категория</td>
                <td>Самостоятельная работа</td>
            </tr>
            <tr class="first_tr">
                <td><i class="fa fa-id-badge" aria-hidden="true"></i> Класс</td>
                <td>5 класс</td>
            </tr>
            <tr class="second_tr">
                <td><i class="fa fa-list-ol" aria-hidden="true"></i> Номер мтерифла</td>
                <td>147</td>
            </tr>
        </table>
    </div>
    <div>
        <a href="#" class="btn green">Скачать материал</a>
    </div>
</div>
<div class="content publication">
    <div class="publication_header">
        <div class="left_div">
            <span>Уроки для всех учителей 5 класс</span>
        </div>
        <div class="right_div">
            <a href=""><span class="fa fa-heart-o"> 0</span></a>
            <a href=""><span class="fa fa-eye"> 0</span></a>
            <a href=""><span class="fa fa-commenting-o"> 0</span></a>
            <a href=""><span class="fa fa-arrow-down"> 0</span></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="similar_files">
        <h3>Похожие файлы</h3>
        <ul>
            <li><a href="#">О развитии математических способностей</a></li>
            <li><a href="#">Этимологические исследования</a></li>
            <li><a href="#">Программа внеурочной деятельности по информатике "Инфознайка"</a></li>
            <li><a href="#">Олимпиадные задания по истории (5-11 классы)</a></li>
            <li><a href="#">Рабочая программа факультатива по математике «Занимательная математика»</a></li>
        </ul>
    </div>
    <div class="comments">
        <h3>Комментарии <span>0</span></h3>
        <div class="col-md-10">
            <textarea name="" id="" cols="80" rows="5" placeholder="Оставьте свой комментарий"></textarea>
        </div>
        <div class="col-md-2">
            <button class="btn">Добавить</button>
        </div>
        <div class="clear"></div>
    </div>
</div>


<?php
include("layout/footer.php")
?>
